@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");

body {
  font-family: "Jost", sans-serif;
}

.lineItem {
  background-color: #f8edeb;
  list-style-type: none;
  border: 20px solid #fec5bb;
}

.icon,
li button {
  cursor: pointer;
}

button {
  border: none;
  background: #f8edeb;
  font-size: 16px;
}

button:hover {
  background-color: red;
  color: white;
}
